.jumbotron {
    background-color: rgb(62, 120, 187);
    color: black;
    margin-top: 50px;
    padding: 0px;
    text-align: center;
}
.card-curso {
    flex: 1 200px;
    padding: 2px 0px 2px 5px;
    margin-top: 10px;
}
.btn-reserva {
    width: 100%;
    border-radius: 0px;
}
body {background: #DFDFDF}
.activate {
    font-weight: bold;
}
.btn-primary {
    color: #fff;
    background-color: #1e2652;
    border-color: #1e2652;
}
footer {
    padding: 10px 10px 10px;
    background-color: rgb(62, 120, 187);
    margin-bottom: 0px;
    margin-top: 10px;
}
a {
    color:  #DFDFDF;
}
li a {
    color: #555555;
}